
/* BEGIN EXTERNAL SOURCE */

        
    
/* END EXTERNAL SOURCE */

/* BEGIN EXTERNAL SOURCE */
span {
font-size:12px; color:rgba(255,255,255,0.7);
}
/* END EXTERNAL SOURCE */

/* BEGIN EXTERNAL SOURCE */
p {
margin-top:10px
}
/* END EXTERNAL SOURCE */

/* BEGIN EXTERNAL SOURCE */

        
    
/* END EXTERNAL SOURCE */

/* BEGIN EXTERNAL SOURCE */
span {
font-size:12px; color:rgba(255,255,255,0.7);
}
/* END EXTERNAL SOURCE */

/* BEGIN EXTERNAL SOURCE */
p {
margin-top:10px
}
/* END EXTERNAL SOURCE */

/* BEGIN EXTERNAL SOURCE */

        
    
/* END EXTERNAL SOURCE */

/* BEGIN EXTERNAL SOURCE */
span {
font-size:12px; color:rgba(255,255,255,0.7);
}
/* END EXTERNAL SOURCE */

/* BEGIN EXTERNAL SOURCE */
p {
margin-top:10px
}
/* END EXTERNAL SOURCE */

/* BEGIN EXTERNAL SOURCE */

        
    
/* END EXTERNAL SOURCE */
